*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

.CaloCalibEmc_Pi0*

b/
config*
*.am
*.in
*.sh
install*
missing
aclocal*
depcomp

autom4te.cache/
